<header class="header">
    <nav class="nav">
        <ul class="nav_list">
            <li class="nav_list-item">
                <a class="nav_list-link" href="#" title="Home" aria-label="Home">Home</a>
            </li>
            <li class="nav_list-item">
                <a class="nav_list-link" href="#" title="About" aria-label="About">About</a>
            </li>
            <li class="nav_list-item">
                <a class="nav_list-link" href="#" title="Products" aria-label="Products">Products</a>
            </li>
            <li class="nav_list-item">
                <a class="nav_list-link" href="#" title="Contact" aria-label="Contact">Contact</a>
            </li>
        </ul>
    </nav>
</header>